<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <ul class="list-unstyled">
          <li><strong>Nom :</strong> {{ player.firstName }}</li>
          <li><strong> Prénom :</strong> {{ player.lastName }}</li>
          <li><strong> Âge :</strong> {{ player.age }} ans</li>
          <li><strong>Position sur le terrain :</strong> {{ player.position }}</li>
          <li><strong>Numéro de maillot :</strong> {{ player.number }}</li>
        </ul>
      </div>
      <div class="col-4">
        <img class="rounded-circle w-75" src="{{ player.image }}">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="btn btn-primary">Voir biographie</a>
      </div>
    </div>
  </div>
</div>
