<div class="container">
  <div class="row">
    <div class="card col-lg-4" *ngFor="let user of users">
      <div class="card-body">
        <ul>
          <li>id: {{ user.id }}</li>
          <li>age: {{ user.age }}</li>
          <li>name: {{ user.name }}</li>
          <li>gender: {{ user.gender }}</li>
          <li>company: {{ user.company }}</li>
          <li>mail: {{ user.email }}</li>
          <li>phone: {{ user.phone }}</li>
          <li>latitude: {{ user.latitude }}</li>
          <li>longitude: {{ user.longitude }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
